<div class="contenedor-padre">
  
    <mat-nav-list>
      <img src="./assets/logo.jpg" alt="menu" class="menu">
      <div class="navbar_left">
          <img src="./assets/logo.png" alt="logo" class="logo">

          <ul>
              <li>
                <a mat-list-item routerLink="/productos">
                  <mat-icon color="primary">list_alt</mat-icon>
                  Productos
                </a>
              </li>
              <li>
                <a mat-list-item routerLink="/ventas">
                  <mat-icon color="primary">local_shipping</mat-icon>
                  Ventas
                </a>
              </li>
              <li>
                <a mat-list-item routerLink="/tienda">
                  <mat-icon color="primary">store</mat-icon>
                  Ver tienda
                </a>
              </li>
          </ul>
      </div>

      <div class="navbar_right">
          <ul>
              <li class="navbar_email">jordyorantes9@gmail.com</li>
              <li class="navbar_shopping_cart" mat-raised-button [matMenuTriggerFor]="menu">
                
                  <img src="./assets/icon_shopping_cart.svg" alt="shopping car">
                  <div>
                    <span style="text-align: center;" [matBadge]="productos.length+''" matBadgeOverlap="false"   matBadgePosition="below after"></span>
                  </div>
                
              </li>
          </ul>
          
      </div>
  </mat-nav-list>


  <mat-toolbar class="barra" color="warn">
    <mat-toolbar-row>
      <span class="example-fill-remaining-space"></span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let p of productos;">{{p}}  {{p | currency}}</button>
        <button mat-menu-item>
          <strong>Total: {{total() | currency}}</strong>
        </button>
        <a *ngIf="productos.length > 0" mat-menu-item routerLink="/terminar_compra">
          <mat-icon>shopping_cart</mat-icon>
          Terminar compra</a>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container class="contenido" >
    <mat-sidenav-content class="padding-20">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <h1>Datos de la base de datos:</h1>
    <ul>
      <li *ngFor="let dato of datos">
        {{ dato.idProducto }}, {{ dato.Nombre }}, {{ dato.Precio }}
      </li>
    </ul> -->